<!-- group.erb -->

<h2><%= @group %></h2>
<form method="get" action="/rolls/new">
  <input type="hidden" name="group_id" value=<%= @group.id %>>
  <button type="submit">Log Roll</button>
</form>
<h3>Members</h3>

<form method="post" action="/groups/<%= @group.id %>/members">
  <input type="text" name="member_name" id="member_name" placeholder="Name">
  <button type="submit">Add Member</button>
</form>

<ul>
  <% @group.members.each do |member| %>
    <li>
      <%= member %>
      <form class="button" method="post" action='/groups/<%= @group.id %>/members/<%= member %>/delete'>
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
</ul>
